<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        
   
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dynamic Web Development</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css">
        <style>body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        
   <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- (1) force latest IE rendering engine: http://goo.gl/tf4JH -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   <!-- (1) Moot look and feel -->
   <link rel="stylesheet" href="https://cdn.moot.it/1/moot.css">

   <!-- (4) Custom CSS -->
   <style>body {
      font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
      margin: 0; padding: 0;
   }

   .moot {
      font-size: 18px;
   }
   </style>

    </head>
  <body>

        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">ITP DWD Fall 2013</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../page/quicknotes.html">Web Dev Cheatsheet</a></li>
            <li><a href="../forum.html">Forum</a></li>
            <li class="dropdown">
              <a href="week_4.html#" class="dropdown-toggle" data-toggle="dropdown">Previous DWD Classes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://itpwebclass.herokuapp.com/">NodeJS - Spring 2013</a></li>
                <li><a href="http://itppyweb2012.herokuapp.com/">Python - Fall 2012</a></li>
              </ul>
            </li>
          </ul>          
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      
      

<br>
<div class="page-header">
	<h1>September 24<br>Week 4: Flask - Request, Responses &amp; Templates</h1>
	<p class="lead">Setting up Flask for templates (html) and static files (images, css and js). Separating code, data and design.</p>
</div>

<div class="row">
	<div class="col-md-2">
		
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="week_4.html#notes">Class notes</a></li>
			<li><a href="week_4.html#assignment">Assignment</a></li>
			<li><a href="week_4.html#discussion">Discussion</a></li>
		</ul>
	</div>
	<div class="col-md-10">

		
		<div id="notes">
			<h1>Getting Started with Flask and Templates</h1>
<h2>This week's code</h2>
<p>Download from <a href="https://github.com/johnschimmel/ITP-DWD-Week4-Templates">Github</a>.
 See demo <a href="http://rentspiritanimals.herokuapp.com/">http://rentspiritanimals.herokuapp.com/</a>.</p>
<p>Reference Links</p>
<ul>
<li>Flask static files and templates -&nbsp;<a href="http://flask.pocoo.org/docs/quickstart/#static-files">http://flask.pocoo.org/docs/quickstart/#static-files</a></li>
<li>Jinja2 template library -&nbsp;<a href="http://jinja.pocoo.org/docs/">http://jinja.pocoo.org/docs/</a></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Quick Start</h2>
<ul>
<li>Download code.</li>
<li>Open code directory in Terminal console.</li>
<li>
<p>Create Virtualenv (only needs to be run once).</p>
<pre><code>virtualenv venv
</code></pre>
</li>
<li>
<p>Initial PIP requirements install / Or when you need to update Python modules after modifying requirements.txt</p>
<pre><code>. runpip
</code></pre>
</li>
</ul>
<p>The <strong>runpip</strong> file is a helper file and has the following commands</p>
<pre><code>. venv/bin/activate
pip install -r requirements.txt
</code></pre>
<ul>
<li>
<p>Start the Server &amp; Activate the Virtualenv if not already active.</p>
<pre><code>. start
</code></pre>
</li>
</ul>
<p>The <strong>start</strong> file has the following commands</p>
<pre><code>. venv/bin/activate
foreman start
</code></pre>
<ul>
<li>If successful you can navigate to <a href="http://localhost:5000">http://localhost:5000</a>.</li>
</ul>
<h1>Templates</h1>
<p>Templates keep your code separated from your code and vice versa. Using templates allows you to focus on the code, logic and data then pass the needed data to an HTML template.</p>
<p>People often call this MVC, of Model-View-Controller, where data structures (M), templates (V) and code (C) are separated into different files and directories.</p>
<p>Our templates are located in the /templates directory. These can be organized in directories if needed. The templates are regular HTML files</p>
<p>Using a template library, we can inject data into HTML with the template library specific syntax.</p>
<p>Flask comes ready with Jinja2 for templates. Jinja2 is easy to use and learn, simple syntax. To use templates we'll include this line at the top of <strong>app.py</strong>,</p>
<pre><code>from flask import render_template
</code></pre>
<h2>Template example</h2>
<p>A basic HTML template with a single variable.</p>
<p><strong>index.html</strong></p>
<pre><code>&lt;html&gt;
    &lt;title&gt;My first template&lt;/title&gt;
    &lt;body&gt;
        &lt;h1&gt;{{ message }}&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>A Flask route, passing a variable into a template</p>
<pre><code>@app.route('/')
def mainpage():
    message = 'Hello World'
    return render_template('index.html', message=message)
</code></pre>
<h2>Template multiple variables example</h2>
<p><strong>index.html</strong></p>
<pre><code>&lt;html&gt;
    &lt;title&gt;My first template&lt;/title&gt;
    &lt;body&gt;
        &lt;h1&gt;{{ message }}&lt;/h1&gt;
        &lt;p&gt;{{ a_sentence }}&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>The Flask route</p>
<pre><code>@app.route('/')
def mainpage():

    templateData = {
        'message' : 'Hello World',
        'a_sentence' : 'A year passed: winter changed into spring, spring changed into summer, summer changed back into winter, and winter gave spring and summer a miss and went straight on into autumn... until one day..'
    }

    return render_template('index.html', **templateData)
</code></pre>
<p>The <strong> operator in Python will convert a dictionary into a keyword list. The </strong> operator does the equilivent of this,</p>
<pre><code>return render_template('index.html', message = 'Hello World', a_sentence = 'A year passed....')
</code></pre>
<h2>Jinja2 basic</h2>
<p>You can see all of Jinja2's reference guide here, <a href="http://jinja.pocoo.org/docs/templates/">http://jinja.pocoo.org/docs/templates/</a></p>
<h2>Displaying a variable</h2>
<pre><code>{{ foo }}  &lt;!-- string or int --&gt;
{{ foo['bar'] }} &lt;!-- bar from dictionary --&gt;
{{ foo.bar }}  &lt;!-- bar from object --&gt;
</code></pre>
<h2>Loops in</h2>
<p>If you need to iterate and display a list of names. For example</p>
<pre><code>names = ['Tony','Betty','Michael','Goldie']
</code></pre>
<p>You could loop through and make an HTML list with the following</p>
<pre><code>{% for name in names %}
&lt;li&gt;{{ name }}&lt;/li&gt;
{% endfor %}
</code></pre>
<h2>If/Elif/Else in Jinja2</h2>
<pre><code>{% if price == "1.00" %}
    That's cheap!
{% elif price == "50.00" %}
    Eh, okay, here's $50
{% else %}
    I'll pay anything.
{% endif %}
</code></pre>
<h2>Static files in Flask apps</h2>
<p>You can put your CSS, images, JavaScript and other static files inside <strong>/static</strong>. This directory is known to Flask as the static directory and files inside can be referenced directly. For example a file css/styles.css can be referenced</p>
<pre><code>/static/css/styles.css
</code></pre>
<p>Or an image, if it exists</p>
<pre><code>/static/img/dog.jpg
</code></pre>
<p>The static file directory can also be referenced inside your templates with a function</p>
<pre><code>{{ url_for('static', filename='css/styles.css') }}
{{ url_for('static', filename='img/dog.jpg') }}
</code></pre>
		</div>

		<hr>
		<a name="assignment"></a>
		<div class="page-header" id="assignment">
			<h3>Assignment</h3>
			
			
			<div class="row">
				<div class="col-md-10">
					<p>For this week's assignment create a web app that uses templates to display dynamic content. </p>
<ul>
<li>You should have at least 3 templates to render.</li>
<li>You should use a "fake" set of data (dictionary) to populate the templates. Similiar to the <strong>animals</strong> dictonary example in the Demo, you can fake data you would like to display on a page.</li>
<li>The templates should use a <strong>layout</strong> if your design has a header and/or footer.</li>
<li>You are encouraged to make your design look presentable, feel free to use <a href="http://www.getbootstrap.com">Twitter Bootstrap</a> to get your CSS and design up and running quickly.</li>
</ul>
<p>Create a new Heroku app and push your code up. Share your assignment url in the assignment form.</p>
				</div>
			</div>

		</div>
		
		<a name="discussion"></a>
		<div class="page-header" id="discussion">
			<h3>Discussion</h3>
			
		</div>
		<div class="row">
			<div class="col-md-8">
				<a class="moot" data-show_online="true"
				   href="https://moot.it/i/itpdwd/classnotes/week_4">
				   Comments for this class topic.
				</a>
		        

			</div>
		</div>
	</div>
</div>


      <hr>

      <footer>
        <p>Dynamic Web Development | John Schimmel | Interactive Telecommunications Program, NYU</p>
      </footer>
    </div> <!-- /container -->

    
	

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
        <script src="../static/js/main.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-43580620-1', 'itppyweb.herokuapp.com');
          ga('send', 'pageview');
        </script>
    
  	<!-- (1) Moot client application -->
   	<script src="https://cdn.moot.it/1/moot.min.js"></script>

    </body>
</html>